body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.logo {
    grid-column: 1 / 2;
}

.nav {
    grid-column: 2 / 3;
    display: flex;
    gap: 10px;
}

.icon-container {
    grid-column: 3 / 4;
    display: flex;
    align-items: center;
    gap: 10px;
}

.burger-icon,
.search-icon {
    display: none;
}

.icon img {
    width: 25px;
    height: auto;
}

.main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 40px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
}

.founder-info {
    margin: 0;
}

.call-button {
    display: flex;
    align-items: center;
}

.phone-info {
    display: flex;
    align-items: center;
}

.phone-info img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.phone-info p {
    margin: 0;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
}

#image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: auto;
    margin: 0 auto;
}

.gallery-image {
    width: 100%;
    height: auto;
    display: none;
}

.button-abs {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

button img {
    width: 30px;
    height: 30px;
}

#left-button {
    left: 10px;
}

#right-button {
    right: 10px;
}

.main-title-container {
    display: flex;
    justify-content: center;
}

.main-title {
    text-align: center;
    margin: 20px 0;
    font-size: 2em;
}

.product-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.brand-section {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.brand-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2
    0px;
}

@media (max-width: 600px) {
    .brand-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.view-button {
    background-color: #eee;
    border: none;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-self: flex-start;
    cursor: pointer;
}

.category-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
}

.product-image {
    width: 25%;
    height: auto;
}

.product-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.like-button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 10px;
}

.like-icon {
    width: 20px;
    height: 20px;
}


@media (max-width: 600px) {
    .nav {
        display: none;
    }

    .burger-icon,
    .search-icon {
        display: block;
    }

    .search-form {
        display: none;
    }

    .icon img {
        width: 20px;
    }

    .product-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}


